<div id="container222" class="container-fluid"></div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var chart = Highcharts.chart('container222', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Submissions you have made in each category'
            },
            xAxis: {
                categories:  {{bar_categories|safe}},
        title: {
            text: 'Submission Categories'
        },
    },
        yAxis: {
            title: {
                text: 'Number of submissions'
            }
        },
        series: [{
            name: 'Totals',
            data: {{bar_values|safe}}
    }]
    });
    });


</script>




<!-- HighCharts libraries -->
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="http://code.highcharts.com/modules/export-data.js"></script>
<script src="http://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>