{% extends "base/layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}


{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">

                <div class="auto-form-wrapper">
            <h6 class="text-primary">Confirmation of Password change</h6>
            <br>
            <div class="table-responsive">
                <div class="alert alert-info">
                    We just sent you an email with instructions on how to reset your password!
                    If email exists you'll receive these instructions
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
