{% extends "base/layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}


{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
        <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
                <h5 class="mt-2 text-primary">Comfirm Password change</h5>
                <br>              
                <div class="table-responsive">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save new Password</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
