{% extends "base/layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}


{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">

                <div class="auto-form-wrapper">
        <h5 class="mt-4 text-success">Success!</h5>
        <br>
        <div class="table-responsive">
            <div class="alert alert-info">
                Congrats! You can now login with the new password.
            </div>
            <div class="mt-4 text-primary">
                <a href="{% url 'accounts:login' %}">
                    <span class="h6" style="text-decoration: underline;">Proceed to Login</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>



<!-- Menu Toggle Script -->

{% endblock %}
