{% extends "base/layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}


{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">

                <div class="auto-form-wrapper">

                <form method="post" action="">

                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend>
                            <span class="text text-primary" style="font-size: medium;">Enter Recovery Email below</span>
                        </legend>

                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group mt-4">
                        <button class="btn btn-outline-primary" type="submit">
                            <span style="font-size: medium;">Submit Email</span>
                        </button>
                    </div>


                </form>

                </div>

            </div>
        </div>
    </div>

{% endblock content %}
