{% extends "base/layouts/base.html" %}

{% block title %} Settings | System {% endblock %}

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row col-md-8">
                <div class="card col-md-12">
                    <div class="card-body">
                      
                        <h4 class="h5 mb-4">System settings</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                                <div>
                                    <h6 id="blueLink1">
                                        <a href="{% url 'accounts:password_change' %}">Change password</a>
                                    </h6>
                                </div>
                            </li>

                            
                        </ul>

                    </div>
                </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
