{% load static %}


	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">

					<li class="nav-item ">
					    <a href="{% url 'stats:dashboard' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
					</li>

					{% if request.user.profile.is_thespeaker %}
						<li class="nav-item"><a href="{% url 'submissions:thespeaker_all_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-list"></i></span>
							<span class="pcoded-mtext">All Submissions</span></a>
						</li>
					{%else%}
						<li class="nav-item"><a href="{% url 'submissions:all_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-list"></i></span>
							<span class="pcoded-mtext">All Submissions</span></a>
						</li>
					{%endif%}


					{% if request.user.profile.is_thespeaker %}
						<li class="nav-item"><a href="{% url 'submissions:thespeaker_unsolved_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-alert-circle"></i></span>
							<span class="pcoded-mtext">Unresolved</span></a>
						</li>
					{%else%}
						<li class="nav-item"><a href="{% url 'submissions:unsolved_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
							<span class="pcoded-mtext">Unresolved</span></a>
						</li>
					{%endif%}
					


					{% if request.user.profile.is_thespeaker %}
						<li class="nav-item"><a href="{% url 'submissions:thespeaker_solved_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-check-square"></i></span>
							<span class="pcoded-mtext">Resolved</span></a>
						</li>
					{%else%}
						<li class="nav-item"><a href="{% url 'submissions:solved_submissions' %}" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-check-square"></i></span>
							<span class="pcoded-mtext">Resolved</span></a>
						</li>
					{%endif%}
					



          			{% if not request.user.profile.is_thespeaker %}
					<li class="nav-item"><a href="{% url 'submissions:submission_create' %}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-plus-circle"></i></span>
						<span class="pcoded-mtext">Add New</span></a>
					</li>
					{%endif%}
					


					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link ">
							<span class="pcoded-micon"><i class="fas fa-table"></i></span>
							<span class="pcoded-mtext">Statistics</span>
						</a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'stats:submissions_cat_n_region_count' %}">Tables</a></li>

							<li><a href="{% url 'stats:charts_view' %}">Charts & Graphs</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-menu-caption">
					    <label>Accounts &amp; Profiles</label>
					</li>


					<!-- SPEAKER sees the list of all the mps -->
					{% if request.user.profile.is_thespeaker %}
					<li class="nav-item"><a href="{% url 'profiles:profiles_list' %}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-users"></i></span>
						<span class="pcoded-mtext">All MPs</span></a>
					</li>
					{%endif%}


					{% if request.user.is_superuser %}
					<li class="nav-item"><a href="{% url 'profiles:profiles_list' %}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-users"></i></span>
						<span class="pcoded-mtext">All MPs</span></a>
					</li>
					{% endif %}



					<li class="nav-item"><a href="{{ request.user.profile.get_absolute_url }}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-user"></i></span>
						<span class="pcoded-mtext">My Profile</span></a>
					</li>

					{%comment%}
					{%endcomment%}
					<li class="nav-item"><a href="{% url 'personalsettings:personalsettings' %}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-settings"></i></span>
						<span class="pcoded-mtext">Settings</span></a>
					</li>


					<li class="nav-item"><a href="{% url 'index:user_guide' %}" class="nav-link ">
						<span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
						<span class="pcoded-mtext">User Guide</span></a>
					</li>


					<li class="nav-item">
					    <a href="{% url 'accounts:logout' %}" 
						   class="nav-link ">
						   <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
						   <span class="pcoded-mtext">Logout <span class="text-success">@{{ request.user.username }}</span></span>
						</a>
					</li>


				</ul>

				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
