{% extends "base/layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	  


<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart demonstrating the use of a 3D pie layout.
        The "Chrome" slice has been selected, and is offset from the pie.
        Click on slices to select and unselect them.
        Note that 3D pies, while decorative, can be hard to read, and the
        viewing angles can make slices close to the user appear larger than they
        are.
    </p>
</figure>
    <script language="javascript">

	Highcharts.chart('container', {
	    chart: {
	        type: 'pie',
	        options3d: {
	            enabled: true,
	            alpha: 45,
	            beta: 0
	        }
	    },
	    title: {
	        text: 'Browser market shares at a specific website, 2014'
	    },
	    accessibility: {
	        point: {
	            valueSuffix: '%'
	        }
	    },
	    tooltip: {
	        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            depth: 35,
	            dataLabels: {
	                enabled: true,
	                format: '{point.name}'
	            }
	        }
	    },
	    series: [{
	        type: 'pie',
	        name: 'Browser share',
	        data: [
	            ['Firefox', 45.0],
	            ['IE', 26.8],
	            {
	                name: 'Chrome',
	                y: 12.8,
	                sliced: true,
	                selected: true
	            },
	            ['Safari', 8.5],
	            ['Opera', 6.2],
	            ['Others', 0.7]
	        ]
	    }]
	});

</script>

{% endblock %}
 